name: Flask Docker CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t flask-devops-app .

    - name: Run container
      run: docker run -d -p 5000:5000 flask-devops-app

